*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/nbproject
/config/database.yml
/config/database.yml~
/config/environments/staging.rb
/config/environments/staging.rb~
/config/environments/production.rb
/config/environments/production.rb~
/config/deploy.rb
/config/deploy.rb~
/config/deploy/production.rb
/config/deploy/staging.rb