# encoding: UTF-8

<div class="page-header">
  <h1>Willkommen</h1>
</div>

<p>
  Diese Web-Anwendung wurde zum Erfassen und Auswerten von Arbeitszeiten entwickelt.
</p>

<h3>Was kann die Anwendung?</h3>
<p>
  Sie können ...
<ul>
  <li>ihre Arbeitszeiten erfassen.</li>
  <li>den Arbeitszeiten Projekte zuordnen.</li>
  <li>Personen zum Zeit-Auswerten hinzufügen.</li>
  <li> ... und vieles mehr! </li>
</ul>
</p>
<h3>Wurden Sie zum Auswerten von Zeiten hierher geschickt?</h3>
<p>
  Melden Sie sich einfach mit Ihren Login-Daten an.<br/>
  Nach der Anmeldung sehen Sie die Zeiteinträge, die Ihnen freigegeben wurden.<br>
  Mit dem Download-Button können sie diese Einträge auch herunterladen.
</p>