# encoding: UTF-8

<div class="row-fluid">
  <div class="span7 offset1">

    <h1>Impressum</h1>
    <br/>

    <p>Fragen, Anregungen, Wünsche? developmentATkoriath-tech.de</p>

    <p>
      Die Seite wurde mit Hilfe von Ruby 1.9.3 und Rails 3.2.3 erstellt.<br/>
      Als Design wurde <%= link_to("Bootstrap", "http://getbootstrap.com/", :target => "_blank") %> verwendet.<br/>
      Vielen Dank an <%= link_to("Glyphicons", "http://glyphicons.com/", :target => "_blank") %> für das freie Verwenden mit <%= link_to("Bootstrap", "http://getbootstrap.com/", :target => "_blank") %>.
    </p>

  </div>
</div>