# encoding: UTF-8

<div class="page-header">
  <h1>Impressum</h1>
</div>

<p>Fragen, Anregungen, Wünsche? mail(AT)codeline.me </p>

<p>
  Als Design wurde <%= link_to("Bootstrap", "http://getbootstrap.com/", :target => "_blank") %> verwendet.<br/>
  Vielen Dank an <%= link_to("Glyphicons", "http://glyphicons.com/", :target => "_blank") %> für die freie Verwendung mit <%= link_to("Bootstrap", "http://getbootstrap.com/", :target => "_blank") %>.
  Vielen Dank an <%= link_to("Gregor Cresnar", "https://www.iconfinder.com/icons/304418/alarm_clock_loading_stopwatch_time_timer_wait_icon", :target => "_blank") %> für die freie, kommerzielle Verwendung (06.08.2014).
</p>
