# encoding: UTF-8

<h1>Impressum</h1>
<br/>

<p>Fragen, Anregungen, Wünsche? developmentATkoriath-tech.de</p>

<p>
  Die Seite wurde mit Hilfe von Ruby 1.9.3 und Rails 3.2.3 erstellt.<br/>
  Als Design wurde <%= link_to("bootstrap", "http://getbootstrap.com/", :target => "_blank") %> verwendet.
</p>