	/*####################################################################

		filename: application.css
		description: overrides bootstrap and other css-files
		
	######################################################################
	
	
	
	
	###################################
	
		"base-css" for all viewports
	
	#################################*/

body {
	padding-top: 50px;
}


.row {
	margin-bottom: 20px;
}

.nav .navbar-nav .navbar-right {
	display: none;
}

.col-md-2.col-md-offset-7 {
	text-align: right;
}


	/*###################################
	
		css for webkit-browsers
	
	###################################*/


@media screen and (-webkit-min-device-pixel-ratio:0) {

	legend + * {
	    -webkit-margin-top-collapse : separate;
	    margin-top                  : 20px;
	}

}

	/*###################################
	
		css for screens > 768px
	
	###################################*/

@media (min-width: 768px) {

	.navbar-right .btn-group {
		margin-top: 8px;
		margin-right: 15px;
	}
	
	.nav > li > a {
		padding: 15px 5px;
	}

}

	/*###################################
	
		css for screens > 814px
	
	###################################*/

@media (min-width: 814px) {

	.nav > li > a {
		padding: 15px 10px;
	}

}

	/*###################################
	
		css for screens > 860px
	
	###################################*/

@media (min-width: 860px) {

	.nav > li > a {
		padding: 15px 15px;
	}

}

	/*###################################
	
		css for screens > 992px
	
	###################################*/

@media (min-width: 992px) {

	.col-md-2.col-md-offset-7 {
		width: 75%;
		margin-left: 0px;
	}

}