/*####################################################################

        filename: application.css
        description: overrides bootstrap and other css-files
        
######################################################################


######################################################################

        instructions:
        
        add button for toggle element in sidebar:
        
                <button type="button" class="sidebar-toggle"  data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
        
        #######
        
        make element in sidebar toggle - hidden as default:
                class="sidebar-collapse collapse"
                
        #######
        
        make element in sidebar toggle - visible as default:
                class="sidebar-collapse in"	
                
        #######
        
        define styles for one page only:
                every container for the main content has its own id: #<controller>-<action>
                example: 	#users-edit changes style on /users/<id>/edit
                                        #reports-index changes style /reports

######################################################################



###################################

        "base-css" for all viewports

#################################*/

body {
    padding-top: 50px;
}


.row {
    margin-bottom: 20px;
}

.nav .navbar-nav .navbar-right {
    display: none;
}

.col-md-2.col-md-offset-7 {
    text-align: right;
}


fieldset {
	margin-bottom: 20px;
}

.sidebar-toggle {
    position: relative;
    float: right;
    padding: 6px 7px;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sidebar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 1px;
    border-radius: 1px;
}

.sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.sidebar-toggle {
    border-color: #dddddd;
}
.sidebar-toggle:hover,
.sidebar-toggle:focus {
    background-color: #dddddd;
}

.sidebar-toggle .icon-bar {
    background-color: #cccccc;
}

.modal-footer {
    font-size: 10px;
    text-align: center;
}

.navbar-nav li.danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.navbar-nav li.success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.navbar-nav li.info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.navbar-nav li.danger > a, .navbar-nav li.danger > a:hover, .navbar-nav li.danger > a:active,
.navbar-nav li.success > a, .navbar-nav li.success > a:hover, .navbar-nav li.success > a:active,
.navbar-nav li.info > a, .navbar-nav li.info > a:hover, .navbar-nav li.info > a:active {
    color: #ffffff;
}

.navbar-nav li.danger:hover, .navbar-nav li.danger:focus, .navbar-nav li.danger:active, .navbar-nav li.danger.active {	
    background-color: #d2322d;
    border-color: #ac2925;  
}

.navbar-nav li.success:hover, .navbar-nav li.success:focus, .navbar-nav li.success:active, .navbar-nav li.success.active {
    background-color: #47a447;
    border-color: #398439;	
}

.navbar-nav li.info:hover, .navbar-nav li.info:focus, .navbar-nav li.info:active, .navbar-nav li.info.active {
    background-color: #5bc0de;
    border-color: #46b8da;	
}

.clear {
    clear: both;
}

#reports-new .btn {
    margin: 10px 0;
}

h1, .h1 {
    font-size: 28px;
}

fieldset.statistics .glyphicon {
	top: 0px;
}

p.statistic {
	margin: 0 0 0 10px;
}

/*###################################

        css for webkit-browsers

###################################*/


@media screen and (-webkit-min-device-pixel-ratio:0) {

    legend + * {
        -webkit-margin-top-collapse : separate;
        margin-top                  : 20px;
    }

}

/*###################################

        css for screens > 460px

###################################*/

@media (min-width: 460px) {

    .modal-footer {
        font-size: 12px;
        text-align: right;
    }
}

/*###################################

        css for screens > 768px

###################################*/

@media (min-width: 768px) {

    .navbar-right .btn-group {
        margin-top: 8px;
        margin-right: 15px;
    }

    .navbar-form .btn-group {
        margin-top: 0px;
        margin-right: 0px;
    }

    .nav .btn-group .caret {
        border-top-color: #fff;
    }
    .nav > li > a {
        padding: 15px 5px;
    }

    .navbar-form .form-group.hidden-xs, .navbar-right .btn.hidden-xs {
        display: inline-block !important;
    }

    h1, .h1 {
        font-size: 36px;
    }


}

/*###################################

        css for screens > 814px

###################################*/

@media (min-width: 814px) {

    .nav > li > a {
        padding: 15px 10px;
    }

}

/*###################################

        css for screens > 860px

###################################*/

@media (min-width: 860px) {

    .nav > li > a {
        padding: 15px 15px;
    }

}

/*###################################

        css for screens > 992px

###################################*/

@media (min-width: 992px) {

    .col-md-2.col-md-offset-7 {
        width: 75%;
        margin-left: 0px;
    }

    /* makes form on /users/<id>/edit looking good */

    #users-edit .input-group .form-control, #users-edit .form-control,
    #users-new .input-group .form-control, #users-new .form-control {
        width: auto;
    }

    #users-edit .form-group,
    #users-new .form-group {
        display: block;
        float: left;
        margin-right: 0px;
        margin-left: 0px;
    }

}



@media (min-width: 1200px) {

    /* makes form on /users/<id>/edit looking good - even on bigger screens */

    #users-edit .col-lg-2, #users-edit .col-lg-4,
    #users-new .col-lg-2, #users-new .col-lg-4 {
        width: auto;
        float: none;
    }

    #users-edit .form-group.buttons,
    #users-new .form-group.buttons {
        float: none;
    }
    #users-edit .form-group.buttons .col-lg-3.col-lg-offset-2, #users-edit .col-lg-6.col-lg-offset-1,
    #users-new .form-group.buttons .col-lg-3.col-lg-offset-2, #users-new .col-lg-6.col-lg-offset-1 {
        width: auto;
        margin-left: 0px;
    }



}


