# encoding: UTF-8

<p>Herzlich Willkommen <%= @resource.firstname %> <%= @resource.lastname %>,</p>

<p>Sie können Ihren Account bestätigen, indem Sie den folgenden Link anklicken:</p>

<p><%= link_to 'Account bestätigen', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Viel Spaß mit der Applikation</p>
