# encoding: UTF-8

<p>Herzlich Willkommen <%= @resource.firstname %> <%= @resource.lastname %>,</p>

<p>Sie können Ihren Account bestätigen, indem Sie den folgenden Link anklicken:</p>

<p><%= link_to 'Account bestätigen', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Danach koennen Sie sich mit Ihrem Benutzernamen und Ihrem Passwort anmelden.</p>

<p>Falls Sie den Account zum Zeit auswerten erstellt haben, koennen Sie mithilfe des Links in der vorherigen E-Mail das
  Projekt hinzufügen.</p>

<p>Viel Spaß mit der Applikation!</p>
