# encoding: UTF-8

<p>Hallo <%= @resource.firstname %> <%= @resource.lastname %>,</p>

<p>Es wurde ein Link angefordert, um das Password zurückzusetzten.<br/>
  Mit dem nachfolgenden Link, können Sie ein neues Passwort wählen:
</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>
  Falls Sie keinen Link angefordert haben, können Sie diese E-Mail ignorieren.<br/>
  Solange der Link nicht angeklickt wird oder Sie Ihr Passwort in den Benutzereinstellungen ändern, wird auch Ihr Passwort nicht geändert.
</p>
