# encoding: UTF-8

<% if user_signed_in? %>

  <div class="btn-group">
    <a class="btn" href="<%= users_path %>"><%= current_user.login %></a>
    <a class="btn btn-danger" href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">Abmelden</a>
  </div>

<% else %>

  <a class="btn btn-success" href="<%= new_user_session_path %>">Anmelden</a>

<% end %>